{% extends 'dashboard.html' %} {% load static %} {% block title %} Mapa en Tiempo Real {% endblock %} {% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Ubicacion Flota en Tiempo Real</h1>
	</div>
	<!-- EDITAR AQUI-->
	<div id="map" style="height: 600px"></div>
	<!--FIN EDITAR-->
</main>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script>
	//config leaflet
	var map = L.map("map").setView([-33.4489, -70.6693], 13); //Esta ubicacion es de lo que s emuestra al inicio

	L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
		maxZoom: 18,
		attribution: "© OpenStreetMap contributors",
	}).addTo(map);

	// Ejemplo marcador y wea Aqui van las ubicaciones de los vehiculos!
	L.marker([-33.4489, -70.6693]).addTo(map).bindPopup("Colectivo en posición.").openPopup();

	// Iterar sobre GPS y Conductores
</script>
{% for conductor in conductores %}
<h3>Conductor: {{ conductor.nombre }}</h3>

{% if conductor.vehiculo_relacionado %}
<p>Vehículo: {{ conductor.vehiculo_relacionado.patente }} - Modelo: {{ conductor.vehiculo_relacionado.modelo }}</p>
{% else %}
<p>No hay vehículo asociado.</p>
{% endif %} {% if conductor.estado == 'Activo' %}
<script>
	L.marker([{{ conductor.gps.latitud }}, {{ conductor.gps.longitud }}]).addTo(map)
		.bindPopup('Conductor: {{ conductor.nombre}} Patente: {{ conductor.vehiculo_relacionado.patente }} Modelo Vehículo: {{ conductor.vehiculo_relacionado.modelo }} Estado: {{ conductor.estado}}')
</script>
{% else %}
<script>

	L.marker([{{ conductor.gps.latitud }}, {{ conductor.gps.longitud }}], {icon: grayMarker}).addTo(map)
	.bindPopup('Conductor: {{ conductor.nombre}} Patente: {{ conductor.vehiculo_relacionado.patente }} Modelo Vehículo: {{ conductor.vehiculo_relacionado.modelo }} Estado: {{ conductor.estado}}')
</script>
<p>Conductor Inactivo</p>
{% endif %} {% endfor %} {% endblock %}
